body {
  background-color: #f0f0f0;
  font-family: serif;
  color: #797f7b;
}

.kontakt h1 {
  padding-bottom: 20px;
  text-align: center;
  font-size: 50px;
  color: #955251;
  border-bottom-style: solid;
  border-width: thin;
}
.address h2, .address p, .contacts h2, .contacts p {
  text-align: center;
}
.address, .contacts {
  padding-bottom: 20px;
  border-width: thin;
}
.contacts a{
  color: #797f7b;
}

.column {
  float: left;
  text-align: center;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.location_image img {
  display: block;
  margin: auto;
  height: auto;
  width: auto;
  max-width: 70%;
}
