body {
  background-color: #f0f0f0;
  font-family: serif;
  color: #797f7b;
  width: 100%;
}

.name h1 {
  padding-bottom: 20px;
  text-align: center;
  font-size: 50px;
  color: #955251;
  border-bottom-style: solid;
  border-width: thin;
}

.info {
  text-align: center;
}

.reservation_form {
  display: flex;
  justify-content: center;
}

.reservation_form div {
  text-align: center;
  padding-top: 10px;
}
