body {
  background-color: #f0f0f0;
  font-family: serif;
  color: #797f7b;
  width: 100%;
}
.header #logout {
  float: right;
  padding-right: 20px;
}
.header #home {
  float: left;
}
.header a {
  color: #955251;
  text-decoration: none;
}
.hello {
  margin: 15px;
  display: block;
  overflow: hidden;
}
.hello h1 {
  padding-left: 20px;
  text-align: center;
  color: #955251;
}
.tasks {
  background-color: #955251;
  color: #f0f0f0;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.tasks:after {
  content: "";
  display: table;
  clear: both;
}
.manage_items, .manage_menu, .manage_rooms {
  float: left;
  text-align: center;
  width: 33%;
}
.manage_items {
  border-right-style: solid;
  border-right-width: thin;
}
.manage_menu {
  border-right-style: solid;
  border-right-width: thin;
}
.supervisor_image img {
  display: block;
  margin: auto;
  height: auto;
  width: auto;
  max-width: 80%;
}
