body {
  background-color: #f0f0f0;
  font-family: serif;
  color: #797f7b;
  width: 100%;
}
.header #logout {
  float: right;
  padding-right: 20px;
}
.header #home {
  float: left;
}
.header a {
  color: #955251;
  text-decoration: none;
}
.orders {
  margin: 15px;
  display: block;
  overflow: hidden;
}
.orders h1 {
  padding-left: 20px;
  text-align: center;
  color: #955251;
}
.table {
  text-decoration: none;
  color: #797f7b;
  border-style: solid;
  background-color:  #b2b2b2;
  display: block;
  height: 100px;
  width: 100px;
  margin: 25px;
  float: left;
}
.table p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #f0f0f0;
}
.footer {
  text-align: center;
  background-color: #955251;
  padding: 40px;
}
.footer a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
